*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins',sans-serif;
   
  }
  
.mexico-bg img {
    position: fixed;
    width: 100%;
    z-index: -1;
    padding: 0;
  }
  
  .container {
    position: absolute;
    top: 23%;
    left: 10%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 20px;
    background-color: rgba(255, 255, 255, 0.879); 
    border-radius: 10px; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.8);
  }


section {
    margin-bottom: 2em;
}

section h2 {
    color: #000e3a;
    border-bottom: 2px solid #333;
    padding-bottom: 0.5em;
}

ul {
    list-style: none;
    padding: 0;
}

h1 {
    font-size: 50px;
    text-align: center;
    color: #000941;
}
h2 {
    font-size: 27px;
    color: #00022c;
    border-bottom: 2px solid #333;
    padding-bottom: 10px;
}
p{
    font-size: 18px;
  }

.image {
width: 100%;
height: auto;
display: block;
margin: 0 auto 20px;
}

footer {
    position: absolute;
    background-color: rgb(0, 33, 46);
    color: #fff;
    text-align: center;
    padding: 20px;
    bottom: 05;
    top: 388%;
    width: 100%;
    
  }